header{
  background-color: rgba(210, 98, 98, 0.554);
  display: flex;
}

.title{
  font-size: 50px;
  margin: 1rem;
  justify-content: center;
}

ul{
  text-decoration: none;
  list-style: none;
  margin-top: 2.5rem;
}

.nav_bar li{
  display: inline;
  padding: 1rem;
  font-size: 15px;

}
a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}